// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

@use '../abstracts' as *;

html {
  font-size: $base-size;
  font-family: $font-inter-regular, sans-serif;
  line-height: 1.625rem;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary);
}
/**
 * Basic styles for links
 */
a {
  text-decoration: none;
}

main {
  color: var(--text-10);
  max-width: $max-width;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  @include mq(large) {
    padding: 0 4rem;
  }
}


p {
  line-height: 1.625rem;
  color: var(--text-20);
}

pre {
  font-family: $font-inter-regular!important;
  display: inline-block;
}

