// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

@use '../abstracts' as *;


.container {
  max-width: $max-width;
  margin: 0 auto;
  width: 100%;
  padding: 0 6rem;
  @include mq(large) {
    padding: 3rem 1.5rem;
  }
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.flex_space_between {
  justify-content: space-between;
}

.justify_center {
  justify-content: center;
}

.flex_column {
  flex-direction: column;
}

.align_start {
  align-items: flex-start;
}

.align_baseline {
  align-items: baseline;
}

.gap_1 {
  gap: 1rem;
}

.gap_2 {
  gap: 1.5rem;
}

.gap_3 {
  gap: 2.5rem;
}

.mb_base {
 margin-bottom: 1.25rem;
}

.mt_big {
  margin-top: 5rem;
 }

.mb_sm {
  margin-bottom: 1rem;
 }

 .mb_big {
  margin-bottom: 4rem;
 }

.bckg_primary_0 {
  background-color: var(--primary);
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.lh_base {
  line-height: 1.5rem;
}

.lh_small {
  line-height: 1.25rem;
}

.img_responsive {
  width: 100%;
  height: auto;
}


.inter_bold {
  font-family: $font-inter-bold;
}

.inter_regular {
  font-family: $font-inter-regular;
}

.br_small {
  border-radius: 0.25rem;
}

.full_height {
  height: 100%;
}

.pd_6 {
  padding: 6rem 0 6rem 0;
}

.transition_all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

.fs_small {
  font-size: $fs-small;
}

.color_30 {
  color: var(--text-30);
}

.color_20 {
  color: var(--text-20);
}
