// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$max-width: 1200px;

/// font family

$font-inter-regular: InterRegular, sans-serif; 
$font-inter-semibold: InterSemibold, sans-serif;
$font-inter-bold: InterBold, sans-serif;

/// font sizes

$base-size: 16px;
$fs-h1: 3rem;
$fs-h2: 1.5rem;
$fs-h3: 1.25rem;
$fs-h4: 1rem;
$fs-small: 0.875rem;
$fs-xsmall: 0.75rem;

 
/// colors
:root {
  --primary: hsl(222, 47%, 11%);
  --primary-10: hsla(172, 66%, 50%, 0.1);
  --text-0: hsl(0, 0%, 100%);
  --text-10: hsl(214, 32%, 91%);
  --text-20: hsl(225, 31%, 74%);
  --text-30: hsl(215, 20%, 65%);
  --text-40: hsl(215, 18%, 44%);
  --text-50: hsl(171, 77%, 64%);
}



// Scrollbar

$scrollbarBG: #CFD8DC;
$thumbBG: #90A4AE;





